.div_variaveis {
    text-align: left;
    line-height: 28px;
    box-shadow: unset;
    color: unset;
    background-color: unset;
}

.div_variaveis > ul {
    list-style-type: none;
    margin: 1px 0 0 -40px;
}

.variaveis {
    text-decoration: none;
}

.celula-zebra-variaveis {
    background: rgba(100, 100, 100, 0.1);
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.celula-zebra-variaveis:first-child {
    border-top: 1px solid #999;
}

.celula-zebra-variaveis:nth-child(odd) {
    background: rgba(248, 248, 248, 0.2);
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.celula-zebra-variaveis-2 {
    background: rgba(150, 150, 150, 0.1);
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    padding-right: 10px;
}

.celula-zebra-variaveis-2:first-child {
    border-top: 1px solid #999;
}

.celula-zebra-variaveis-2:nth-child(odd) {
    background: rgba(248, 248, 248, 0.2);
    padding-right: 10px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

.ui-menu-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}