.obs {
    width: 100%;
    height: 200px;
    resize: none;
    overflow: auto;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    background: #fff;
}

/*
    BT TESTAR
*/
.bt-testar {
    position: absolute;
    padding: 8px;
    border-radius: 4px;
    border: 0px;
    width: 90%;
    font-size: 90%;
    margin-bottom: 0px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    /*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.75);*/
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    right: 23px;
    top: 28px;
    background-color: #13385c;
}

/*
    CAMPO LOGIN E SENHA SEM OS VALORES DO USUARIO DA SESSÃO
*/
.input-form-gw:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.descricao-ftp{
    padding: 0px;
}

.ui-widget {
    font-size: 0.8em;
}

.container-input-file-layout {
    float: left;
    margin-right: 0;
    width: 100%;
}

.btn-tertiary {
    background: #13385c;
    color: #fff;
    padding: 0;
    line-height: 27px;
    width: 100%;
    margin: auto;
    display: block;
    border: 2px solid #13385c;
}
.btn-tertiary:hover, .btn-tertiary:focus {
    color: #fff;
}

/* input file style */
.input-file-layout {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.input-file-layout + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
    cursor: pointer;
    width: 60%;
}
.input-file-layout + .js-labelFile .icon:before {
    content: "\f093";
}
.input-file-layout + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5AAC7B;
}

.no-padding{
    padding: 0;
}

.btn-tertiary {
    width: 81%;
    margin: 0px;
    margin-right: 100px;
}

#baixar_chave_seguranca {
    float: right;
    margin-top: -32px;
    margin-right: 19px;
    font-size: 15px;
    color: #0c263e;
    border-radius: 200px 200px 200px 200px;
    border: 2px solid #0c263e;
    text-align: center;
    vertical-align: middle;
}

#baixar_chave_seguranca > i {
    width: 28px;
    height: 28px;
    line-height: 32px;
}

#excluir_chave_seguranca {
    float: right;
    margin-top: -32px;
    margin-right: -23px;
    font-size: 25px;
    color: #13385c;
}

.inp-localizar{
    margin-top: 30px;
}