/* 
    Created on : 25/10/2016, 17:01:27
    Author     : Mateus
*/
:root{
    --tonalidade1: #0c253e;
    --tonalidade2: #13385C;
    --tonalidade14:#a0c2e4;
    --tonalidade13:#8899aa;
    --icon-certo: url("../img/certo.png");
    --icon-certo-color: none;
}
html,body{
    padding: 0;
    margin: 0;
    background: transparent;
}
.geral-localizar{
    width: 800px;
    height: 620px;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden !important;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.75);
}

.topo-localizar{
    width: 100%;
    background: var(--tonalidade1);
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 0 3px 3px rgba(182, 182, 182, 0.75);
}

.logo{
    margin-left: 20px;
    position: absolute;
    width: 120px;
    top: 15px;
}

.fechar{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    opacity: 0.7;
    cursor: pointer;
}

.fechar:hover{
    opacity: 0.9;

}

.topo-localizar label{
    color: var(--tonalidade14);
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.corpo-localizar{
    width: 100%;
    padding: 10px;
    float: left;
}

.regra{
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
    background: #fff;
    float: left;
    width: 95%;
    padding: 10px;
}

.regra-div-select{
    width: 20%;
    float: left;
}

.regra-div-inpt{
    float: left;
    width: 80%;
}

#chkDiferenciar{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

#chkDiferenciarGruposClientes{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

#chkIgual{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

#chkIgualGruposClientes{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

.inpt-filtrar-por{
    width: 50%;
    padding: 8px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FFF;
    font-size: 14px;
    color: #545454;
    border: 1px solid #999;
    position: relative;
    z-index: 10;
    margin-left: 10px;
}

#select-campo{
    width: 100%;
    padding: 7.5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FFF;
    font-size: 14px;
    color: #545454;
    border: 1px solid #999;
    position: relative;
    z-index: 10;
}

#select-tipo{
    width: 100%;
    padding: 7.5px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: #FFF;
    font-size: 14px;
    color: #545454;
    border: 1px solid #999;
    position: relative;
    z-index: 10;
}

.lb-checkbox{
    font-size: 11px;
    color: #545454;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    margin-left: 3px;
}


.colunas{
    float: left;
    width: 100%;
    max-width: 100%;
}

.coluna-pesquisa{
    width: 97%;
    float: left;
    padding: 10px;
}

.paginacao{
    position: absolute;
    width: 100%;
    float: left;
    bottom: 50px;
}

.coluna-centro{
    width: 1%;
    height: 50px;
    float: left;
    height: 300px;
    margin-top: 35px;
}

.coluna-centro img{
    border: 1px solid rgba(0,0,0,0.1);
    width: 35px;
}

.coluna-centro img:hover{
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.3);
}

.coluna-escolhidas{
    width: 1%;
    float: left;
    padding: 10px;
}

.resultados{
    overflow-x: scroll; 
    overflow-y: hidden;
    border-radius: 5px;
    background: rgba(200,200,200,0.1);
    height: 300px;
    padding: 10px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
}


#topo-resultados-col1, #topo-resultados-col2 {
    border: 1px solid #eee;
    width: 105%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    display: table;
    height: 240px;
}

#topo-resultados-col1 li, #topo-resultados-col2 li {
    margin: 0 5px -1px 0px;
    padding: 5px;
    font-size: 12px;
    display: table;
    background: #fff;
    color: #444;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 1px dotted #999;
}

#topo-resultados-col1 li:nth-child(odd) {
    background: rgba(220,220,220,0.7);
}
#topo-resultados-col1 li:nth-child(even) {
    background: rgba(220,220,220,0.3);
}

#topo-resultados-col2 li:nth-child(odd) {
    background: rgba(220,220,220,0.7);
}

#topo-resultados-col2 li:nth-child(even) {
    background: rgba(220,220,220,0.3);
}

#topo-resultados-col1 li:hover{
    background-color: var(--tonalidade11);
}

#topo-resultados-col2 li:hover{
    background-color: var(--tonalidade11);
}

#topo-resultados-col1 li:hover div,
#topo-resultados-col2 li:hover div {
    color: var(--tonalidade14) !important;
}

#grupoCliente1, #grupoCliente2 {
    border: 1px solid #eee;
    width: 97%;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    display: table;
    height: 240px;
}

#grupoCliente1 li, #grupoCliente2 li {
    margin: 0 5px -1px 0px;
    padding: 5px;
    font-size: 12px;
    width: 95%;
    display: table;
    background: #fff;
    color: #444;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 1px dotted #999;
}

#grupoCliente1 li:nth-child(odd) {
    background: rgba(220,220,220,0.7);
}
#grupoCliente1 li:nth-child(even) {
    background: rgba(220,220,220,0.3);
}

#grupoCliente2 li:nth-child(odd) {
    background: rgba(220,220,220,0.7);
}

#grupoCliente2 li:nth-child(even) {
    background: rgba(220,220,220,0.3);
}

#grupoCliente1 li:hover{
    background: rgba(160,194,228,0.4);
}

#grupoCliente2 li:hover{
    background: rgba(160,194,228,0.4);
}

.selecionado{
    background: rgba(220,220,220,0.9) !important;
}

.sem-underline{
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

.topo-resultados-col1{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
    margin-left: 6px;
}

.topo-resultados-col2{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
}

.topo-resultados-col3{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
    margin-left: 13px;
}

.topo-resultados-col4{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
}

.topo-resultados-col5{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
}

.topo-resultados-col6{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
}

.topo-resultados-col{
    font-size: 14px;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    color: #fff;
    float: left;
}

.envolve-resultados{
    width: 130%;
    float: left;
    height: 270px;
    max-height: 270px !important;
    overflow: hidden;
    overflow-y: auto;
}

.searchButton{
    color: #FFF;
    font-size: 12px;
    padding: 6px 12px 6px 25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-size: 13px;
    background-position: 7px 7px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    border: 0;
    cursor: pointer;
    margin-top: 6px;
}
.searchButton:hover{
    background-color: var(--tonalidade1);
}

.okButton{
    color: #FFF;
    font-size: 12px;
    padding: 6px 12px 6px 25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-size: 13px;
    background-position: 7px 7px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.75);
    border: 0;
    cursor: pointer;
    margin-top: 6px;
}

.okButton:hover{
    background-color: var(--tonalidade1);
}

.footer-localizar{
    display: none;
    width: 100%;
    float: left;
}

.envolve-topo{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 130%;
    background: var(--tonalidade2);
    float: left;
    border-radius: 3px 3px 0 0;
}
.opcoes-avancadas{
    padding: 5px 10px 5px 0px;
    border-radius: 5px;
    margin-left: 10px;
}

.opcoes-avancadas label{
    color: #555;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}

.opcoes-avancadas input{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

.opcoes-avancadas-grupo-cliente{
    padding: 5px 10px 5px 0px;
    border-radius: 5px;
    margin-left: 10px;
}

.opcoes-avancadas-grupo-cliente label{
    color: #555;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
}

.opcoes-avancadas-grupo-cliente input{
    cursor: pointer;
    padding: 0;
    margin:0;
    position: relative;
    top: 1px;
    overflow: hidden;
}

.alpha{
    max-height: 50px !important;
    overflow-y: scroll !important;
}

.searchButton{
    background: var(--tonalidade2) url("../img/icon-search.png") no-repeat;
    background-size: 13px;
    background-position: 7px 7px;
}
.okButton{
    background: var(--tonalidade2) url("../img/ok.png") no-repeat;
    background-size: 13px;
    background-position: 7px 7px;
}

.ui-state-default {
    width: 100%;
}

#divPaginacao{
    position: absolute;
    margin-left: 10px;
    color:var(--tonalidade2);
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#pagina{
    height: 30px;
    width: 25px;
    border:1px solid var(--tonalidade13);
    border-radius:5px;
    padding-left: 5px;
    color: var(--tonalidade2);
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.icone-selecionado{
    width: 15px;
    float: left; 
    margin-right: 5px;
    background-image: var(--icon-certo);
}

img{
    filter: var(--icon-certo-color);
}