/* 
    Created on : 24/02/2017, 12:17:52
    Author     : Mateus
*/
.a-a{
    position: relative;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 17px;
    width: 100%;
    float: left;
}

.a-a-1{
    float: left;
    color: rgba(255,255,255,0.8);
    background: transparent url(../../img/ordenar_with_down01.png) left top no-repeat;
    background-size: 10px;
    background-position: 100% 6px;
    width: auto;
    margin-left: 6px;
    padding-right: 15px;
    margin-bottom: 3px;
}

.a-a-1:hover{
    cursor: pointer;
    color: rgba(255,255,255,1);
}

.a-a-2{
    width: 100%;
    float: left;
    background: #ccc;
    border: 0;
    min-height: 34px;
    border-radius: 7px;
}

.a-a-div-menu{
    display: none;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
    position: absolute;
    z-index: 9;
    top: 23px;
    /*margin-top: -36px;*/
    float: left;
    background: #fff;
    border-radius: 5px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.a-a-div-menu ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    float: left;
    /*margin: 6px;/*/
}
.a-a-div-menu ul:nth-child(even){
    
}

.a-a-div-menu ul li{
    float: left;
    width: 100%;
}

.a-a-div-menu > ul > li > label{
    font-size: 15px;
    color: #666;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 4px;
    width: 100%;
    float: left;
}

.a-a-div-menu > ul > li > ul > li{
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.a-a-div-menu > ul > li > ul > li:hover{
    background: #ededed;
}

.a-a-div-menu > ul > li > ul > li > label{
    cursor: pointer;
    font-size: 14px;
    color: #444;
    font-weight: normal;
    padding-left: 20px;
    width: 100%;
    float: left;
}

.check-marcado{
    border: 1px solid rgb(19, 56, 92);
    border-radius: 2px;
    height: 12px;
    width: 12px;
    margin-top: 1px;
    margin-right: 7px;
    background: rgb(19, 56, 92);
    float: left;
    
}

.check-marcado:after{
    float: left;
    box-sizing: border-box;
    transform: rotate(45deg);
    display: table;
    width: 6px;
    margin-left: 3px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
    content: '';
}

.check-desmarcado{
    border: 1px solid rgb(19, 56, 92);
    border-radius: 2px;
    height: 12px;
    width: 12px;
    margin-top: 1px;
    margin-right: 7px;
    background: #fff;
    float: left;
    
}
