/* 
    Created on : 06/01/2017, 08:59:48
    Author     : Mateus Veloso
*/

.selects-ui{
    border-radius: 5px !important;
}

.selects-ui > li{
    padding: 10px;
}

input[name=formaImpressao] {    
    vertical-align:text-bottom;
    margin-right: 5px;
}

.bt-imprimir{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    cursor: pointer;
    text-align: center;
    background: #13385c;
    color: #fff;
    float: left;
    margin-left: 10px;
    margin-top: 33px;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
}

.bt-imprimir:hover{
    transform: scale(0.98);
    box-shadow: inset 0px 1px 1px 1px rgba(255,255,255,0.4);
}
