body {
    overflow: hidden; 
}

.columnLeft::-webkit-scrollbar{display: none;-ms-overflow-style: none;overflow: auto;}
.columnLeft{-ms-overflow-style: none;}

.label-pesquisas-salvas {
    padding-bottom: 5px !important;
}

.filtro-pesquisa {
    margin-bottom: 5px;
}

.container-campos-select {
    margin-bottom: 5px;
}

.input-boxes {
    margin-bottom: 0;
}

.input-escondido {
    display: none;
}

.container-data {
    margin-bottom: 5px;
}

.div-ordenacao {
    margin-top: 5px;
}

.check-box-feitos-por-mim {
    margin-bottom: 10px;
}

.div-ajuda {
    margin-bottom: 5px;margin-top: 30px;display: none;
}

.campo-helper {
    margin-left: 5px;
}

.hr-margin {
    margin:5px;padding:0;
}

.div-videos {
    margin-bottom: 0;
}

.hr-final {
    padding:0;
    margin: 0 0 100px;
}

#map {
    overflow-y: hidden;
}

#footerTable {
    width: 50%;
}

.footerTable {
    width: 70%
}

#columnLeft {
    z-index: 999 !important;position: absolute !important;max-width: 25% !important;display: block !important;
}

.cobre-left {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999999999;
    position: absolute;
    display: none;
}